// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ideas {
	position: absolute;
	margin: 0 auto; /*set to a negative number 1/2 of your height*/
}

.box {
	margin: 20px;
	width: 330px;
}

.box img {
	max-width: 100%;
	height: auto;
}

#show-user {
	width: 100%;
	top: 100%;
}

#show-img img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}